VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=

# Github OAuth
VITE_GITHUB_CLIENT_ID=
VITE_GITHUB_CLIENT_SECRET=

# Upload Care
VITE_UPLOAD_CARE_PUB_KEY=
VITE_UPLOAD_CARE_SECRET_KEY=